@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img-recipe {
  background-image: url("src/assets/bg-recipes.jpg");
  background-size: auto;
  min-height: 54rem;
  max-height: 70rem;
}
